<aside
  class="shadow-md transition-all duration-300 ease-in-out h-full py-4"
  [ngClass]="{
    'w-[60px]': isCollapsed,
    'w-[250px]': !isCollapsed
  }"
>
  <button
    class="btn btn-ghost btn-sm mt-1 mx-1 mb-3 text-white"
    (click)="toggleCollapsed()"
  >
    <i-lucide [img]="isCollapsed ? Menu : Close" class="text-white"></i-lucide>
  </button>

  <!-- Menú Administrativo -->
  <ul
    class="px-0 flex flex-col items-stretch space-y-2 h-full pt-2 transition-all duration-300 ease-in-out"
  >
    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Panel">
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/manager/dashboard"
      >
        <i-lucide [img]="Dashboard" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Panel Administración</span>
        }
      </a>
    </li>

    <li
      [ngClass]="{ 'tooltip tooltip-right': isCollapsed }"
      data-tip="Salas y Asientos"
    >
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/manager/rooms"
      >
        <i-lucide [img]="Rooms" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Salas y Asientos</span>
        }
      </a>
    </li>

    <li
      [ngClass]="{ 'tooltip tooltip-right': isCollapsed }"
      data-tip="Horarios de Funciones"
    >
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/manager/schedules"
      >
        <i-lucide [img]="Schedules" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Horarios de Funciones</span>
        }
      </a>
    </li>

    <li
      [ngClass]="{ 'tooltip tooltip-right': isCollapsed }"
      data-tip="Promociones"
    >
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/manager/promotions"
      >
        <i-lucide [img]="Promotions" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Promociones</span>
        }
      </a>
    </li>

    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Snacks">
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/manager/snacks"
      >
        <i-lucide [img]="Snacks" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Snacks</span>
        }
      </a>
    </li>

    <li
      [ngClass]="{ 'tooltip tooltip-right': isCollapsed }"
      data-tip="Cartera Digital"
    >
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/manager/wallet"
      >
        <i-lucide [img]="Wallet" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Cartera Digital</span>
        }
      </a>
    </li>

    <li
      [ngClass]="{ 'tooltip tooltip-right': isCollapsed }"
      data-tip="Reportes"
    >
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/manager/reports"
      >
        <i-lucide [img]="Reports" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Reportes</span>
        }
      </a>
    </li>
  </ul>
</aside>