<aside
  class="shadow-md transition-all duration-300 ease-in-out h-full py-4"
  [ngClass]="{
    'w-[60px]': isCollapsed,
    'w-[250px]': !isCollapsed
  }"
>
  <button
    class="btn btn-ghost btn-sm mt-1 mx-1 mb-3 text-white"
    (click)="toggleCollapsed()"
  >
    <i-lucide [img]="isCollapsed ? Menu : Close" class="text-white"></i-lucide>
  </button>

  <ul
    class="px-0 flex flex-col items-stretch space-y-2 h-full pt-2 transition-all duration-300 ease-in-out"
  >
    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Dashboard">
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/admin/dashboard"
      >
        <i-lucide [img]="Dashboard" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Dashboard</span>
        }
      </a>
    </li>

<li
      [ngClass]="{ 'tooltip tooltip-right': isCollapsed }"
      data-tip="Empleados del Sistema"
    >
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/admin/employees"
      >
        <i-lucide [img]="Users" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Empleados del Sistema</span>
        }
      </a>
    </li>

    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Cines">
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/admin/cinemas-admin"
      >
        <i-lucide [img]="Home" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Cines</span>
        }
      </a>
    </li>

    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Películas">
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/admin/movies-admin"
      >
        <i-lucide [img]="Video" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Peliculas</span>
        }
      </a>
    </li>

    <li [ngClass]="{ 'tooltip tooltip-right': isCollapsed }" data-tip="Anuncios">
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/admin/ads-admin"
      >
        <i-lucide [img]="DollarSign" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Anuncios</span>
        }
      </a>
    </li>

    <li
      [ngClass]="{ 'tooltip tooltip-right': isCollapsed }"
      data-tip="Configuración del Sistema"
    >
      <a
        class="btn btn-ghost px-4 justify-start w-full text-white hover:bg-blue-800"
        routerLink="/admin/setting-general"
      >
        <i-lucide [img]="Settings" class="text-blue-200"></i-lucide>
        @if (!isCollapsed) {
        <span class="truncate">Configuración del Sistema</span>
        }
      </a>
    </li>
    </ul>
</aside>