<input type="checkbox" id="create-room-modal" class="modal-toggle" />

<div class="modal-box max-w-2xl">
  <h3 class="text-lg font-bold mb-4">Crear nueva sala de proyección</h3>

  <!-- Formulario -->
  <div class="space-y-4">
    <!-- Nombre -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Nombre de la sala</span>
      </label>
      <input
        [(ngModel)]="newRoom().name"
        type="text"
        placeholder="Ej. Sala Premium"
        class="input input-bordered w-full"
      />
    </div>

    <!-- Descripción -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Descripción</span>
      </label>
      <textarea
        [(ngModel)]="newRoom().description"
        class="textarea textarea-bordered w-full"
        placeholder="Breve descripción de la sala"
      ></textarea>
    </div>

    <!-- Capacidad -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Filas de asientos</span>
        </label>
        <input
          [(ngModel)]="newRoom().rows"
          type="number"
          placeholder="10"
          class="input input-bordered w-full"
        />
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">Columnas de asientos</span>
        </label>
        <input
          [(ngModel)]="newRoom().columns"
          type="number"
          placeholder="10"
          class="input input-bordered w-full"
        />
      </div>
    </div>

    <!-- Imagen -->
    @if (!roomUpdate()) {
    <div class="form-control">
      <label class="label">
        <span class="label-text">Imagen de la sala</span>
      </label>
      <input
        type="file"
        accept="image/*"
        class="file-input file-input-bordered w-full"
        required
        (change)="onFileSelected($event)"
      />
    </div>
    }

    <!-- Opciones: Permitir opiniones y Bloquear sala -->
    @if (roomUpdate()) {
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="form-control">
        <label class="label cursor-pointer">
          <input
            type="checkbox"
            class="toggle"
            [(ngModel)]="newRoom().commentsEnabled"
          />
          <span class="label-text ml-2">Permitir opiniones</span>
        </label>
      </div>

      <div class="form-control">
        <label class="label cursor-pointer">
          <input
            type="checkbox"
            class="toggle"
            [(ngModel)]="newRoom().blocked"
          />
          <span class="label-text ml-2">Bloquear sala</span>
        </label>
      </div>
    </div>
    }

    <!-- Vista previa de imagen -->
    <div class="mt-4">
      <figure
        class="w-full h-48 bg-base-200 flex items-center justify-center rounded-lg overflow-hidden"
      >
        <img
          *ngIf="imageUrl"
          [src]="imageUrl | image"
          alt="Imagen del cine"
          class="object-cover w-full h-full"
        />
        <div *ngIf="!imageUrl" class="text-sm opacity-70 text-center p-4">
          <i-lucide [img]="ImagePlus" class="w-8 h-8 mx-auto mb-2"></i-lucide>
          No hay imagen seleccionada
        </div>
      </figure>
    </div>

    <!-- Botones -->
    <div class="modal-action">
      <label for="create-room-modal" class="btn btn-ghost" (click)="onClose()"
        >Cancelar</label
      >
      <button type="submit" class="btn btn-primary" (click)="saveRoom()">
        Guardar sala
      </button>
    </div>
  </div>
</div>
